<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval';" />
    <title>BFC Ripper</title>
    <script src='lib/vue.js'></script>
    <script src='src/bfc-log.js'></script>
  </head>
  <body>
    <div id="app">
      <div>
        <input type="text" placeholder="Album Artist" v-model="albumArtist">
        <input type="text" placeholder="Album Title" v-model="albumTitle">
        <input type="number" placeholder="Release Year" v-model="releaseYear">
        <input type="text" placeholder="Genre" v-model="genre">

        <table>
          <thead>
            <th>#</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Length</th>
            <th>Start</th>
          </thead>
          <tbody id="tbody">
            <tr v-for="tk in tracks">
              <td>{{tk.id}}</td>
              <td><input type="text" placeholder="track artist" v-model="tk.artist"></td>
              <td><input type="text" placeholder="track title" v-model="tk.title"></td>
              <td>{{tk.length}}</td>
              <td>{{tk.start}}</td>
            </tr>
          </tbody>
        </table>

        <button id="rip" v-on:click="rip(true)" :disabled="ripping">Rip it!</button>

        <button id="cancel" v-on:click="cancel" v-show="ripping">Cancel</button>
      </div>

      <bfc-log id="log-paranoia" ref="log-paranoia">
      </bfc-log>
    </div>
    <script src="src/app.js"></script>
  </body>
</html>
